@page
@model ContosoUniversity2.Pages.AboutModel

@{
    ViewData["Title"] = "Student Body Statistics";
}

<h2>Student Body Statistics</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                Enrollment Date
            </th>
            <th>
                Students
            </th>
        </tr>
        </thead>
    <tbody>

        @foreach (var item in Model.Student)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @item.StudentCount
                </td>
            </tr>
        }
        </tbody>
</table>
<hr />
<h2>Contact Us</h2>
<h4>Tammy Dresen</h4>
<address>tdresen@ContosoUniversity.edu</address>