@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="home">
    <div class="imgBox">



    </div>
    <h1>Contoso University</h1>

    <div class="sections">
        <div class="sectionImg">
            <img src="~/images/academics.png" alt="academics" />
            <h2 class="sectionH2">Academics</h2>
        </div>
        <div class="sectionImg">
            <img src="~/images/sports.png" alt="sports" />
            <h2 class="sectionH2">Sports</h2>
        </div>
        <div class="sectionImg">
            <img src="~/images/social.png" alt="social" />
            <h2 class="sectionH2">Campus Life</h2>
        </div>
    </div>
    <p>Image purchased from <a href="https://www.bigstockphoto.com/image-8066376/stock-photo-college-campus">Bigstockphoto.com</a></p>
</div>